@model MenuItem
@{
    ViewData["Title"] = "Details";
}
<div class="text-center">
<h1>Details</h1>
    <span>-----------------</span>
    <br />
    <span>---------</span>
</div>
<div class="container mt-5">
    <div class="row">
        <!-- Product Images -->
        <div class="col-md-6 mb-4 ">
            <img src="@Model.ImageUrl" alt="Product" class="img-fluid rounded mb-3 product-image" style="max-height:75%" id="mainImage">
            
        </div>

        <!-- Product Details -->
        <div class="col-md-6">
            <h2 class="mb-3">@Model.Name</h2>
            <p class="text-muted mb-4"><span class="fs-5">PreparationTimeMinutes</span> @Model.PreparationTimeMinutes</p>
            <div class="mb-3">
                <span class="h4 me-2">$@Model.Price</span>
                <span class="text-muted"><s>$99.99</s></span>
            </div>
            <p>@Model?.Category?.Name</p>
            <div class="mb-3">
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-half text-warning"></i>
                <span class="ms-2">4.5 (120 reviews)</span>
            </div>
           @*  <p class="mb-4">
                Experience premium sound quality and industry-leading noise cancellation with these wireless
                headphones. Perfect for music lovers and frequent travelers.
            </p> *@
           
           @*  <div class="mb-4">
                <label for="quantity" class="form-label">Quantity:</label>
                <input type="number" class="form-control" id="quantity" value="1" min="1" style="width: 80px;">
            </div> *@
            <a class="btn btn-secondary btn-lg mb-3 me-2" href="javascript:history.back()">
                <i class="bi bi-skip-backward-fill"></i> Back
            </a>

            <button class="btn btn-primary btn-lg mb-3 me-2">
                <i class="bi bi-cart-plus"></i> Add to Cart
            </button> 
        </div>
    </div>
</div>