
@using RestaurantMS.ViewModels
@using RestaurantMS.ViewModels.MenuItem
@model EditMenuItemVM
@{
    ViewData["Title"] = "Edit";
}
<div class="text-center">
<h1>Edit</h1>
    <span>-----------------</span>
    <br />
    <span>---------</span>
</div>
<div class="row">
    <div class="col-12 col-lg-6 pt-5">
        <form asp-action="Edit" enctype="multipart/form-data" method="post">
            <div class="form-floating mb-3">
                <input asp-for="Name" class="form-control" required placeholder="">
                <label asp-for="Name"></label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Price" class="form-control" placeholder="">
                <label asp-for="Price"></label>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="PreparationTimeMinutes" class="form-control" required placeholder="">
                <label asp-for="PreparationTimeMinutes"></label>
                <span asp-validation-for="PreparationTimeMinutes" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="DailyOrderCount" class="form-control" required placeholder="">
                <label asp-for="DailyOrderCount"></label>
                <span asp-validation-for="DailyOrderCount" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <select asp-for="CategoryId" asp-items="Model.Categories" class="form-select">
                    <option value="">-- Select Category --</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>


            <div class="mb-3">
                <input class="form-control form-control-lg border-2" asp-for="ImageFile" type="file" accept="*/*">

            </div>

            <a class="btn btn-secondary mx-2" asp-controller="MenuItem" asp-action="Index">Back</a>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>

    <div class="col-12 col-lg-6 text-center">
        <h5 class="mb-3">Image Preview</h5>
        <img id="previewImage" src="@Model.ImageUrl" class="rounded shadow-sm w-100" style="max-height:50%" />
    </div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.js"></script>

    <script>

        document.getElementById("ImageFile").addEventListener("change", function (event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    document.getElementById("previewImage").src = e.target.result;
                };
                reader.readAsDataURL(file);
            }
        });
    </script>
}


